In [1]:
# 1. Importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# 2. Set Path
path = r'C:\Users\karya\Instacart Basket Analysis'

In [3]:
path

'C:\\Users\\karya\\Instacart Basket Analysis'

#### Q1. Import the data set you exported in Exercise 4.9 into a new Jupyter notebook. This should be the merged version of your data that contains the new customers colum

In [4]:
# Importing orders_products_customer_merged
df_orders_products_customer_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_customer_merged.pkl'))

In [5]:
#### Q2. Consider any security implications that might exist for this new data. You’ll need to address any PII data in the data before continuing your analysis.
df_orders_products_customer_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,order_frequency_flag,first_name,surname,gender,state,age,date_joined,n_dependants,fam_status,income
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,both,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,both,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,both,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,both,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,both,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423

### PII or Personaly Identifiable Information incluedes Names(first name, last name), Email address, Phone number, Physical address,..

In [7]:
# Addressing PII: names and last names/surnames are sensitive information
df_orders_products_customer_merged_ex10 = df_orders_products_customer_merged.drop(columns = ['first_name', 'surname'])

# A subset that excludes the sensitive information was created.

In [8]:
# To check that the columns with sensitive informations were droped 
df_orders_products_customer_merged_ex10.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,spending_flag,median_prior_orders,order_frequency_flag,gender,state,age,date_joined,n_dependants,fam_status,income
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,both,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,both,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,both,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,both,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,both,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423

### Q3. The Instacart officers are interested in comparing customer behavior in different geographic areas. Create a regional segmentation of the data. You’ll need to create a “Region” column based on the “State” column from your customers data set.

## Creating a regional segmentaion of the data.

### 1. Defining the Regions:

In [9]:
Northeast = ['Maine',
             'New Hampshire', 
             'Vermont', 
             'Massachusetts', 
             'Rhode Island', 
             'Connecticut', 
             'New York', 'Pennsylvania', 'New Jersey']

In [10]:
Midwest = ['Wisconsin', 
           'Michigan', 
           'Illinois', 
           'Indiana', 
           'Ohio', 
           'North Dakota', 'South Dakota', 
           'Nebraska', 'Kansas', 
           'Minnesota', 'Iowa', 'Missouri']

In [11]:
South = ['Delaware', 
         'Maryland', 
         'District of Columbia', 
         'Virginia', 'West Virginia',
         'North Carolina', 'South Carolina', 
         'Georgia', 'Florida', 
         'Kentucky', 'Tennessee', 
         'Mississippi', 'Alabama', 
         'Oklahoma', 'Texas', 
         'Arkansas', 'Louisiana']

In [12]:
West = ['Idaho', 'Montana', 
        'Wyoming', 'Nevada', 
        'Utah', 'Colorado', 
        'Arizona', 'New Mexico', 
        'Alaska', 'Washington', 
        'Oregon', 'California', 'Hawaii']

## 2. Creating a "region" column:

In [13]:
df_orders_products_customer_merged_ex10.loc[df_orders_products_customer_merged_ex10['state'].isin(Northeast), 'region'] = 'Northeast'

C:\Users\karya\AppData\Local\Temp\ipykernel_11132\2230738261.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Northeast' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_orders_products_customer_merged_ex10.loc[df_orders_products_customer_merged_ex10['state'].isin(Northeast), 'region'] = 'Northeast'

In [14]:
df_orders_products_customer_merged_ex10.loc[df_orders_products_customer_merged_ex10['state'].isin(Midwest), 'region'] = 'Midwest'

In [15]:
df_orders_products_customer_merged_ex10.loc[df_orders_products_customer_merged_ex10['state'].isin(South), 'region'] = 'South'

In [16]:
df_orders_products_customer_merged_ex10.loc[df_orders_products_customer_merged_ex10['state'].isin(West), 'region'] = 'West'

In [17]:
# Check for the "region" column:

df_orders_products_customer_merged_ex10.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,median_prior_orders,order_frequency_flag,gender,state,age,date_joined,n_dependants,fam_status,income,region
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,both,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,both,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,both,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,both,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,both,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South

In [18]:
# Checking the value count for the 'region' column:

df_orders_products_customer_merged_ex10['region'].value_counts(dropna = False)

region
South        10791885
West          8292913
Midwest       7597325
Northeast     5722736
Name: count, dtype: int64

### 3.2. Determine whether there’s a difference in spending habits between the different U.S. regions. (Hint: You can do this by crossing the variable you just created with the spending flag.)

In [19]:
df_orders_products_customer_merged_ex10.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_time_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', '_merge', 'product_name', 'aisle_id',
       'department_id', 'prices', '_merged2', 'price_range_loc', 'Busiest day',
       'Busiest days', 'busiest_period_of_day', 'max_order', 'loyalty_flag',
       'average_price', 'spending_flag', 'median_prior_orders',
       'order_frequency_flag', 'gender', 'state', 'age', 'date_joined',
       'n_dependants', 'fam_status', 'income', 'region'],
      dtype='object')

In [20]:
# Creating the 'spending_flag'

df_orders_products_customer_merged_ex10.loc[df_orders_products_customer_merged_ex10['average_price'] < 10, 'spending_flag'] = 'low spender'

In [21]:
df_orders_products_customer_merged_ex10.loc[df_orders_products_customer_merged_ex10['average_price'] >= 10, 'spending_flag'] = 'high spender'

In [22]:
# To check:
df_orders_products_customer_merged_ex10[['average_price', 'region', 'spending_flag']]

          average_price region spending_flag
0              6.367797  South   low spender
1              6.367797  South   low spender
2              6.367797  South   low spender
3              6.367797  South   low spender
4              6.367797  South   low spender
...                 ...    ...           ...
32404854      10.700000   West  high spender
32404855       8.100000  South   low spender
32404856       8.100000  South   low spender
32404857       8.100000  South   low spender
32404858       8.100000  South   low spender

[32404859 rows x 3 columns]

In [23]:
df_orders_products_customer_merged_ex10.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_time_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', '_merge', 'product_name', 'aisle_id',
       'department_id', 'prices', '_merged2', 'price_range_loc', 'Busiest day',
       'Busiest days', 'busiest_period_of_day', 'max_order', 'loyalty_flag',
       'average_price', 'spending_flag', 'median_prior_orders',
       'order_frequency_flag', 'gender', 'state', 'age', 'date_joined',
       'n_dependants', 'fam_status', 'income', 'region'],
      dtype='object')

### Determine whether there’s a difference

In [24]:
df_crosstab = pd.crosstab(df_orders_products_customer_merged_ex10['region'], df_orders_products_customer_merged_ex10['spending_flag'], dropna = False)

In [25]:
df_crosstab.to_clipboard()
# Output Results

# region	high spender	low spender
# Midwest	155975	7441350
# Northeast	108225	5614511
# South	209691	10582194
# West	160354	8132559

### The results shows that the South region has the highest percentage of the high spender populations (33%) followed by West (25%), and Midwest regions(25%) and Northeast region has the lowest percentage of the high spender population (17%). Among the spenders , only 2% of them are higher spender the remaining 98% are all low spenders in all regions.

### Q4. Create an exclusion flag for low-activity customers (customers with less than 5 orders) and exclude them from the data. Make sure you export this sample.

In [34]:
df_orders_products_customer_merged_ex10['order_number'].value_counts(dropna = False)

order_number
1     2076096
3     2048868
2     2046409
4     1818609
5     1626901
       ...
95      14516
96      13737
97      13356
98      12851
99      12421
Name: count, Length: 99, dtype: int64

In [35]:
df_orders_products_customer_merged_ex10.shape

(32404859, 34)

In [36]:
# Creating Flag for low activity customers:

df_orders_products_customer_merged_ex10.loc[df_orders_products_customer_merged_ex10 ['order_number'] < 5, 'customer_activity_exclusion_flag'] = 'low activity'

In [37]:
# Creating Flag for high activity customers:

df_orders_products_customer_merged_ex10.loc[df_orders_products_customer_merged_ex10 ['order_number'] >= 5, 'customer_activity_exclusion_flag'] = 'high activity'

In [38]:
# Checking the out put:
df_orders_products_customer_merged_ex10.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,order_frequency_flag,gender,state,age,date_joined,n_dependants,fam_status,income,region,customer_activity_exclusion_flag
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,both,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,low activity
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,both,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,low activity
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,both,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,low activity
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,both,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,low activity
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,both,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high activity

In [39]:
df_orders_products_customer_merged_ex10['customer_activity_exclusion_flag'].value_counts(dropna=False)

customer_activity_exclusion_flag
high activity    24414877
low activity      7989982
Name: count, dtype: int64

In [40]:
df_orders_products_customer_merged_ex10.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_time_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', '_merge', 'product_name', 'aisle_id',
       'department_id', 'prices', '_merged2', 'price_range_loc', 'Busiest day',
       'Busiest days', 'busiest_period_of_day', 'max_order', 'loyalty_flag',
       'average_price', 'spending_flag', 'median_prior_orders',
       'order_frequency_flag', 'gender', 'state', 'age', 'date_joined',
       'n_dependants', 'fam_status', 'income', 'region',
       'customer_activity_exclusion_flag'],
      dtype='object')

In [41]:
df_orders_products_customer_merged_ex10.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,order_frequency_flag,gender,state,age,date_joined,n_dependants,fam_status,income,region,customer_activity_exclusion_flag
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,both,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,low activity
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,both,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,low activity
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,both,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,low activity
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,both,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,low activity
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,both,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high activity

In [42]:
# Excluding low activity customers:

high_activity_customer_data = df_orders_products_customer_merged_ex10.loc[df_orders_products_customer_merged_ex10 ['order_number'] >= 5, 'customer_activity_exclusion_flag']

In [43]:
# to make sure that the new subset includes only high activity customers
high_activity_customer_data.value_counts(dropna = True)

customer_activity_exclusion_flag
high activity    24414877
Name: count, dtype: int64

In [44]:
high_activity_customer_data.shape

(24414877,)

In [45]:
df_orders_products_customer_merged_ex10.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,order_frequency_flag,gender,state,age,date_joined,n_dependants,fam_status,income,region,customer_activity_exclusion_flag
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,both,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,low activity
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,both,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,low activity
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,both,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,low activity
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,both,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,low activity
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,both,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high activity

In [46]:
df_orders_products_customer_merged_ex10.shape

(32404859, 34)

In [47]:
# Make sure you export this sample. (choose pickle format)

high_activity_customer_data.to_pickle(os.path.join(path,'02 Data', 'Prepared Data', 'high_activity_customer_data.pkl'))

### Q5.  Create a profiling variable based on age, income, certain goods in the “department_id” column, and number of dependents. You might also use the “orders_day_of_the_week” and “order_hour_of_day” columns if you can think of a way they would impact customer profiles. (Hint: As an example, try thinking of what characteristics would lead you to the profile “Single adult” or “Young parent.”)

### 1. Profiling variable based on age

In [48]:
df_orders_products_customer_merged_ex10['age'].max()

81

In [49]:
df_orders_products_customer_merged_ex10['age'].min()

18

In [50]:
age_group_1 = df_orders_products_customer_merged_ex10.loc[df_orders_products_customer_merged_ex10['age'] <= 29, 'age_group'] = '18-29'

C:\Users\karya\AppData\Local\Temp\ipykernel_11132\226161526.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '18-29' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  age_group_1 = df_orders_products_customer_merged_ex10.loc[df_orders_products_customer_merged_ex10['age'] <= 29, 'age_group'] = '18-29'

In [51]:
age_group_2 = df_orders_products_customer_merged_ex10.loc[(df_orders_products_customer_merged_ex10['age'] > 29) & (df_orders_products_customer_merged_ex10['age'] <= 39), 'age_group'] = '30-39'

In [52]:
age_group_3 = df_orders_products_customer_merged_ex10.loc[(df_orders_products_customer_merged_ex10['age'] > 39) & (df_orders_products_customer_merged_ex10['age'] <= 49), 'age_group'] = '40-49'

In [53]:
age_group_4 = df_orders_products_customer_merged_ex10.loc[(df_orders_products_customer_merged_ex10['age'] > 49) & (df_orders_products_customer_merged_ex10['age'] <= 59), 'age_group'] = '50-59'

In [54]:
age_group_5 = df_orders_products_customer_merged_ex10.loc[(df_orders_products_customer_merged_ex10['age'] > 59) & (df_orders_products_customer_merged_ex10['age'] <= 69), 'age_group'] = '60-69'

In [55]:
age_group_6 = df_orders_products_customer_merged_ex10.loc[(df_orders_products_customer_merged_ex10['age'] > 69) & (df_orders_products_customer_merged_ex10['age'] <= 81), 'age_group'] = '70+'

In [56]:
df_orders_products_customer_merged_ex10['age_group'].value_counts(dropna = False)

age_group
18-29    6090441
70+      6079991
40-49    5109237
30-39    5073751
50-59    5064175
60-69    4987264
Name: count, dtype: int64

In [57]:
df_orders_products_customer_merged_ex10.head(2)

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,gender,state,age,date_joined,n_dependants,fam_status,income,region,customer_activity_exclusion_flag,age_group
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,both,...,Female,Alabama,31,2/17/2019,3,married,40423,South,low activity,30-39
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,both,...,Female,Alabama,31,2/17/2019,3,married,40423,South,low activity,30-39

### 2. Profiling variable based on income

In [58]:
df_orders_products_customer_merged_ex10['income'].describe()

count    3.240486e+07
mean     9.943773e+04
std      4.305727e+04
min      2.590300e+04
25%      6.700400e+04
50%      9.661800e+04
75%      1.279120e+05
max      5.939010e+05
Name: income, dtype: float64

### Creating income groups:

In [59]:

income_group_1 = df_orders_products_customer_merged_ex10.loc[df_orders_products_customer_merged_ex10['income'] <= 67292, 'income_group'] = 'low income'

C:\Users\karya\AppData\Local\Temp\ipykernel_11132\625774219.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'low income' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  income_group_1 = df_orders_products_customer_merged_ex10.loc[df_orders_products_customer_merged_ex10['income'] <= 67292, 'income_group'] = 'low income'

In [60]:
income_group_2 = df_orders_products_customer_merged_ex10.loc[(df_orders_products_customer_merged_ex10['income'] > 67292) & (df_orders_products_customer_merged_ex10['income'] <= 128102), 'income_group'] = 'middle income'

In [61]:
income_group_3 = df_orders_products_customer_merged_ex10.loc[df_orders_products_customer_merged_ex10['income'] > 128102 ,'income_group'] = 'high income'

In [62]:
df_orders_products_customer_merged_ex10['income_group'].value_counts(dropna = False)

income_group
middle income    16151618
low income        8183863
high income       8069378
Name: count, dtype: int64

In [63]:
df_orders_products_customer_merged_ex10.head(2)

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,state,age,date_joined,n_dependants,fam_status,income,region,customer_activity_exclusion_flag,age_group,income_group
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,both,...,Alabama,31,2/17/2019,3,married,40423,South,low activity,30-39,low income
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,both,...,Alabama,31,2/17/2019,3,married,40423,South,low activity,30-39,low income

#### 3. Profiling variable based on n_dependant

In [64]:
n_dependants_group_1 = df_orders_products_customer_merged_ex10.loc[df_orders_products_customer_merged_ex10['n_dependants'] == 0, 'n_dependants_group'] = 'No Dependants'

C:\Users\karya\AppData\Local\Temp\ipykernel_11132\2080150091.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'No Dependants' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  n_dependants_group_1 = df_orders_products_customer_merged_ex10.loc[df_orders_products_customer_merged_ex10['n_dependants'] == 0, 'n_dependants_group'] = 'No Dependants'

In [65]:
n_dependants_group_2 = df_orders_products_customer_merged_ex10.loc[df_orders_products_customer_merged_ex10['n_dependants'] > 0, 'n_dependants_group'] = 'Has Dependants'

In [66]:
# The number of dependants in the df

df_orders_products_customer_merged_ex10['n_dependants'].value_counts()

n_dependants
3    8135109
0    8097503
2    8091143
1    8081104
Name: count, dtype: int64

In [67]:
# The number of dependants in the df as a group.

df_orders_products_customer_merged_ex10['n_dependants_group'].value_counts()

n_dependants_group
Has Dependants    24307356
No Dependants      8097503
Name: count, dtype: int64

In [68]:
df_orders_products_customer_merged_ex10.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,age,date_joined,n_dependants,fam_status,income,region,customer_activity_exclusion_flag,age_group,income_group,n_dependants_group
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,both,...,31,2/17/2019,3,married,40423,South,low activity,30-39,low income,Has Dependants
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,both,...,31,2/17/2019,3,married,40423,South,low activity,30-39,low income,Has Dependants
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,both,...,31,2/17/2019,3,married,40423,South,low activity,30-39,low income,Has Dependants
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,both,...,31,2/17/2019,3,married,40423,South,low activity,30-39,low income,Has Dependants
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,both,...,31,2/17/2019,3,married,40423,South,high activity,30-39,low income,Has Dependants

In [69]:
df_orders_products_customer_merged_ex10['fam_status'].value_counts(dropna = False)

fam_status
married                             22756753
single                               5325691
divorced/widowed                     2771812
living with parents and siblings     1550603
Name: count, dtype: int64

In [70]:
df_dep = pd.read_csv(os.path.join(path,  '02 Data', 'Prepared Data', 'deparments_wrangled.csv'), index_col = False)

### 4: Profiling variable based on department_id

In [71]:
df_dep = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'deparments_wrangled.csv'), index_col = False)

In [72]:
df_dep.head()

   Unnamed: 0 department
0           1     frozen
1           2      other
2           3     bakery
3           4    produce
4           5    alcohol

In [73]:
# Rename the colonm for "department_id"
df_dep = df_dep.rename(columns = {'Unnamed: 0' : 'department_id'})

In [74]:
df_dep.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [75]:
data_dict = df_dep.to_dict('index')

In [76]:
data_dict

{0: {'department_id': 1, 'department': 'frozen'},
 1: {'department_id': 2, 'department': 'other'},
 2: {'department_id': 3, 'department': 'bakery'},
 3: {'department_id': 4, 'department': 'produce'},
 4: {'department_id': 5, 'department': 'alcohol'},
 5: {'department_id': 6, 'department': 'international'},
 6: {'department_id': 7, 'department': 'beverages'},
 7: {'department_id': 8, 'department': 'pets'},
 8: {'department_id': 9, 'department': 'dry goods pasta'},
 9: {'department_id': 10, 'department': 'bulk'},
 10: {'department_id': 11, 'department': 'personal care'},
 11: {'department_id': 12, 'department': 'meat seafood'},
 12: {'department_id': 13, 'department': 'pantry'},
 13: {'department_id': 14, 'department': 'breakfast'},
 14: {'department_id': 15, 'department': 'canned goods'},
 15: {'department_id': 16, 'department': 'dairy eggs'},
 16: {'department_id': 17, 'department': 'household'},
 17: {'department_id': 18, 'department': 'babies'},
 18: {'department_id': 19, 'department': 'snacks'},
 19: {'department_id': 20, 'department': 'deli'},
 20: {'department_id': 21, 'department': 'missing'}}

In [77]:
# Merging 'department' column with the data set 

df_orders_products_customer_merged_ex10 =  df_orders_products_customer_merged_ex10.merge(df_dep, on = 'department_id')

In [78]:
df_orders_products_customer_merged_ex10.head(2)

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,date_joined,n_dependants,fam_status,income,region,customer_activity_exclusion_flag,age_group,income_group,n_dependants_group,department
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,both,...,2/17/2019,3,married,40423,South,low activity,30-39,low income,Has Dependants,beverages
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,both,...,2/17/2019,3,married,40423,South,low activity,30-39,low income,Has Dependants,beverages

In [79]:
df_orders_products_customer_merged_ex10.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_time_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', '_merge', 'product_name', 'aisle_id',
       'department_id', 'prices', '_merged2', 'price_range_loc', 'Busiest day',
       'Busiest days', 'busiest_period_of_day', 'max_order', 'loyalty_flag',
       'average_price', 'spending_flag', 'median_prior_orders',
       'order_frequency_flag', 'gender', 'state', 'age', 'date_joined',
       'n_dependants', 'fam_status', 'income', 'region',
       'customer_activity_exclusion_flag', 'age_group', 'income_group',
       'n_dependants_group', 'department'],
      dtype='object')

### Profiling variable based on 'fam_status'

In [80]:
df_orders_products_customer_merged_ex10['fam_status'].value_counts(dropna = False)

fam_status
married                             22756753
single                               5325691
divorced/widowed                     2771812
living with parents and siblings     1550603
Name: count, dtype: int64

In [81]:
df_orders_products_customer_merged_ex10['gender'].value_counts(dropna = False)

gender
Male      16315029
Female    16089830
Name: count, dtype: int64

#### 1. Married Male and Married Female with no children

In [94]:
df_orders_products_customer_merged_ex10.loc[(df_orders_products_customer_merged_ex10['fam_status'] == 'married') & (df_orders_products_customer_merged_ex10['n_dependants_group'] == 'No Dependants') & (df_orders_products_customer_merged_ex10['gender'] == 'Female'), 'family_profile'] = 'married female, no children'

In [95]:
df_orders_products_customer_merged_ex10.loc[(df_orders_products_customer_merged_ex10['fam_status'] == 'married') & (df_orders_products_customer_merged_ex10['n_dependants_group'] == 'No Dependants') & (df_orders_products_customer_merged_ex10['gender'] == 'Male'), 'family_profile'] = 'married male, no children'

#### 2. Married Male and Married Female with children

In [96]:
df_orders_products_customer_merged_ex10.loc[(df_orders_products_customer_merged_ex10['fam_status'] == 'married') & (df_orders_products_customer_merged_ex10['n_dependants_group'] == 'Has Dependants') & (df_orders_products_customer_merged_ex10['gender'] == 'Female'), 'family_profile'] = 'married female with children'

In [97]:
df_orders_products_customer_merged_ex10.loc[(df_orders_products_customer_merged_ex10['fam_status'] == 'married') & (df_orders_products_customer_merged_ex10['n_dependants_group'] == 'Has Dependants') & (df_orders_products_customer_merged_ex10['gender'] == 'Male'), 'family_profile'] = 'married male with children'

### 3. Single Male and single Female with no children

In [98]:
df_orders_products_customer_merged_ex10.loc[(df_orders_products_customer_merged_ex10['fam_status'].isin(['single', 'living with parents and siblings', 'divorced/widowed'])) & (df_orders_products_customer_merged_ex10['n_dependants_group'] == 'No Dependants') & (df_orders_products_customer_merged_ex10['gender'] == 'Female'), 'family_profile'] = 'single female, no children'

In [99]:
df_orders_products_customer_merged_ex10.loc[(df_orders_products_customer_merged_ex10['fam_status'].isin(['single', 'living with parents and siblings', 'divorced/widowed'])) & (df_orders_products_customer_merged_ex10['n_dependants_group'] == 'No Dependants') & (df_orders_products_customer_merged_ex10['gender'] == 'Male'), 'family_profile'] = 'single male, no children'

#### 4. Single Male and single Female with children

In [100]:
df_orders_products_customer_merged_ex10.loc[(df_orders_products_customer_merged_ex10['fam_status'].isin(['single', 'living with parents and siblings', 'divorced/widowed'])) & (df_orders_products_customer_merged_ex10['n_dependants_group'] == 'Has Dependants') & (df_orders_products_customer_merged_ex10['gender'] == 'Female'), 'family_profile'] = 'single female with children'

In [101]:
df_orders_products_customer_merged_ex10.loc[(df_orders_products_customer_merged_ex10['fam_status'].isin(['single', 'living with parents and siblings', 'divorced/widowed'])) & (df_orders_products_customer_merged_ex10['n_dependants_group'] == 'Has Dependants') & (df_orders_products_customer_merged_ex10['gender'] == 'Male'), 'family_profile'] = 'single male with children'

In [102]:
df_orders_products_customer_merged_ex10.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_time_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', '_merge', 'product_name', 'aisle_id',
       'department_id', 'prices', '_merged2', 'price_range_loc', 'Busiest day',
       'Busiest days', 'busiest_period_of_day', 'max_order', 'loyalty_flag',
       'average_price', 'spending_flag', 'median_prior_orders',
       'order_frequency_flag', 'gender', 'state', 'age', 'date_joined',
       'n_dependants', 'fam_status', 'income', 'region',
       'customer_activity_exclusion_flag', 'age_group', 'income_group',
       'n_dependants_group', 'department', 'family_profile'],
      dtype='object')

In [103]:
df_orders_products_customer_merged_ex10.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,n_dependants,fam_status,income,region,customer_activity_exclusion_flag,age_group,income_group,n_dependants_group,department,family_profile
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,both,...,3,married,40423,South,low activity,30-39,low income,Has Dependants,beverages,married female with children
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,both,...,3,married,40423,South,low activity,30-39,low income,Has Dependants,beverages,married female with children
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,both,...,3,married,40423,South,low activity,30-39,low income,Has Dependants,beverages,married female with children
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,both,...,3,married,40423,South,low activity,30-39,low income,Has Dependants,beverages,married female with children
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,both,...,3,married,40423,South,high activity,30-39,low income,Has Dependants,beverages,married female with children

In [104]:
df_orders_products_customer_merged_ex10.to_pickle(os.path.join(path, '02 Data', 'Prepared Data','df_orders_products_customer_merged_ex10_final_report.pkl'))